.container {
  height: 116px;
  max-width: 1440px;
  padding: 0 152px;

  display: flex;
  align-items: center;
}

.container .logo {
  height: 48px;
}

.container .input {
  background-color: var(--color-light-gray);
  margin: 0 auto 0 40px;
  padding: 0 16px;

  font-family: var(--font-family);

  height: 40px;
  width: 400px;

  border: none;
  border-radius: 16px;
}

.container .button {
  margin-left: auto;

  height: 52px;
  width: 184px;

  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  color: var(--color-blue);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;

  cursor: pointer;
}